.APropos {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ContainerDropdown {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 2% 0 2% 0;
    align-items: center;
    flex-grow: 2;
}