$red-light: #FF6060;

.container {
    width: 90%;
    margin: 0 auto 20px auto;
    .containerLeftAndRight {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-top: 24px;
        @media screen and (max-width: 1120px) {
            flex-direction: column;
        }
    
        //          Container Left
    
        .containerLeft {
            .containerInfos {
                color: $red-light;
                font-weight: 500;
            
                .containerInfos__title {
                    font-size: 36px;
                    margin: 0;
                    @media screen and (max-width: 810px) {
                        font-size: 18px;
                    }
                }
                .containerInfos__location {
                    font-size: 18px;
                    margin: 5px 0 0 0;
                    @media screen and (max-width: 810px) {
                        font-size: 14px;
                    }
                }
            }
            .containerTags {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 0;
                gap: 20px;
                margin: 25px 0;
                .containerTags__tags {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    min-width: 95px;
                    padding: 3px 10px;
                    font-size: 14px;
                    background-color: $red-light;
                    border-radius: 10px;
                    color: #FFFFFF;
                    @media screen and (max-width: 810px) {
                        font-size: 10px;
                    }
                }
            }
        }

        //         Container Right
    
        .containerRight {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media screen and (max-width: 1120px) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
            .host {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 15px;
                @media screen and (max-width: 1120px) {
                    order: 2;
                }
                .host__nameHost {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: end;
                    width: 80px;
                    color: $red-light;
                    font-size: 18px;
                    font-weight: 500;
                }
                .host__hostImg {
                    width: 64px;
                    border-radius: 50%;
                }
            }
            .containerStars {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 10px;
                @media screen and (max-width: 1120px) {
                    order: 1;
                }
                .containerStars__stars input[name="rate"] {
                    display: none;
                }
                .containerStars__stars--star {
                    width: 24px;
                    @media screen and (max-width: 580px) {
                        width: 13px;
                    }
                }
                .starRed {
                    color: #FF6060;
                }
                .starGray {
                    color: #E3E3E3;
                }
            }
        }
    }

    .containerDropDownF {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin: 20px 0 30px 0;
        @media screen and (max-width: 1120px) {
            flex-direction: column;
        }
        .ContentBx {
            flex: 1;
            @media screen and (max-width: 1120px) {
                max-width: none;
            }
            .Label {
                width: 100%;
            }
        }
    }
}