.container {
    width: 90%;
    margin: 0 auto 20px auto;
}
.containerInfos {
    color: #FF6060;
    font-weight: 500;
}
.title {
    font-size: 36px;
    margin-bottom: 0;
}
.location {
    font-size: 18px;
}
.containerDropDown {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.ContentBx {
    flex-grow: 1;
}