@font-face {
	font-family: 'Montserrat';
	src: url('../assets/font/Montserrat-Medium.woff2');
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 5% 40px 5%;
    .navBar__logo{
        @media (max-width: 810px) {
            display: none;
        }
    }
    .navBar__logoLittle {
        display: none;
        @media (max-width: 810px) {
            display: block;
        }
    }
    .navBar__ul {
        .navBar__li {
            list-style-type: none;
            display: inline-block;
            padding: 10px 20px;
            @media (max-width: 810px) {
                padding: 10px 2vw;
            }
        }
        .navBar__link {
            text-decoration: none;
            color: #FF6060;
            font-size: 24px;
            font-weight: 500;
            font-family: Montserrat, sans-serif;
            cursor: pointer;
            @media (max-width: 810px) {
                font-size: 12px;
            }
        }
        .navBar__link:hover {
            text-decoration: underline;
            transition: 0.3s;
        }
        #navBar__linkHome.active, #navBar__linkAPropos.active {
            text-decoration: underline;
        }
    }
}